<div class="main-text">
  <p>
    Welcome! This small corner of the internet is all about Ata Gowani. Woahh okay
    that was weird - switching to first person.
    <br><br>
    I am currently <a href="http://www.utdallas.edu/news/2012/8/20-19131_The-Whoosh-A-Sign-of-Comet-Spirit-Has-Become-Campu_article-wide.html">whooshing</a>
    through my B.S. in Software Engineering and <strike>am actively looking for ways to apply what I am
    learning</strike> will be applying what I have learned as a Software Engineer Intern at <a href="https://homedepot.com">The Home Depot</a> in the Summer
    of 2018.
    <br><br>
    Feel free to browse around to learn more about me!
    <br><br>
    </p>
</div>