<div class="d-flex flex-wrap">
  <div ng-repeat="project in projects" class="project-div">
    <h2>{{project.name}}</h2>
    <p class="project-description">{{project.description}}</p>
    <p ng-repeat="(language, usage) in project.languages" class="project-lang">{{language}}</p>
    <div>
      <a href="{{project.github}}"><img class="project-link" src="./src/imgs/github-logo.svg" alt="GitHub"></a>
      <a href="{{project.URL}}" ng-if="project.URL"><img class="project-link" src="./src/imgs/website.svg" alt="Homepage"></a>
    </div>
  </div>
</div>